$white-color: #fff;
$orange-color: #ff7235;
$dark-color: #292830;
$gray-color: #bdbdbd;
.delivering {
  display: flex;
  align-items: center;
  column-gap: 3.3rem;
  margin-top: 14.9rem;
}

.zoom {
  padding: 50px;
  transition: transform 0.2s;
  /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.delivering-tittle h3 {
  font-family: "Hind Siliguri";
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: $gray-color;
  padding-bottom: 2.4rem;
}

.delivering-style h2 {
  max-width: 54rem;
  max-height: 28.8rem;
  //styleName: Title;
  font-family: "Hind Siliguri";
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 9.6rem;
  color: $dark-color;
}

.delivering-style p {
  max-width: 54rem;
  max-height: 11.7rem;
  //styleName: Sub-title;
  font-family: "Hind Siliguri";
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.8.8.1rem;
  color: $gray-color;
  margin-top: 10.4rem;
}

.delivering-info a {
  font-family: "Hind Siliguri";
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: $orange-color;
  margin-top: 2.4rem;
}

.delivering-info {
  max-width: 152px;
  max-height: 24px;
  max-width: 15.2rem;
  max-height: 2.4rem;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.right-side img {
  max-width: 54rem;
  width: 100%;
  max-height: 42.8rem;
  height: 100%;
}

@media (max-width: 940px) {
  .delivering-style p {
    max-width: 54rem;
    max-height: 11.7rem;
    //styleName: Sub-title;
    font-family: "Hind Siliguri";
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.8.8.1rem;
    color: $gray-color;
    margin-top: 5.4rem;
  }
  .delivering-style h2 {
    max-width: 54rem;
    max-height: 18.8rem;
    color: $dark-color;
    //styleName: Title;
    font-family: "Hind Siliguri";
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 4.6rem;
  }
  .delivering-style p {
    max-width: 54rem;
    max-height: 11.7rem;
    color: $gray-color;
    //styleName: Sub-title;
    font-family: "Hind Siliguri";
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.8.8.1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 937px) {
  .delivering {
    flex-direction: column;
  }
}
