$white-color: #fff;
$orange-color: #ff7235;
$dark-color: #292830;
$gray-color: #bdbdbd;
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-menu {
  display: flex;
  align-items: center;
}

.links ul li a {
  font-family: "Hind Siliguri";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.9.1.1rem;
  color: $dark-color;
}

.links ul li {
  margin-top: 0.8rem;
}

.links-footer {
  margin-top: 20rem;
  text-align: left;
  margin-left: 17.2rem;
}

.links-tittle h2 {
  font-family: "Hind Siliguri";
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.8.8.1rem;
  color: $dark-color;
  margin-left: 2rem;
  padding-bottom: 2.4rem;
}
